## Data Type

CSV

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('../data.csv')
df.head(6)

   ID            Name  Age Gender                       Email    Country
0   1      John Smith   28      M      john.smith@example.com        USA
1   2   Emily Johnson   34      F   emily.johnson@example.com     Canada
2   3   Michael Brown   42      M   michael.brown@example.com         UK
3   4     Sarah Davis   25      F     sarah.davis@example.com  Australia
4   5    David Wilson   31      M    david.wilson@example.com        USA
5   6  Linda Martinez   29      F  linda.martinez@example.com     Mexico

In [ ]:
df22 = pd.DataFrame({
    "Name": ["Ali", "Sara", "John"],
    "Age": [18, 22, 25],
    "Score": [80, 90, 85]
}, index=["A", "B", "C"])
df22.loc["A"]

Name     Ali
Age       18
Score     80
Name: A, dtype: object