In [1]:
import sklearn
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns

## Lesson 1 Part(a)

In [2]:
data = {
    'YearsExperience': [1, 2, 3, 4, 5],   # The Input
    'Salary': [30000, 40000, 50000, 60000, 70000] # The Answer
}
df=pd.DataFrame(data)
df

   YearsExperience  Salary
0                1   30000
1                2   40000
2                3   50000
3                4   60000
4                5   70000

In [3]:
X=df[["YearsExperience"]]
X

   YearsExperience
0                1
1                2
2                3
3                4
4                5

In [4]:
y=df['Salary']
y

0    30000
1    40000
2    50000
3    60000
4    70000
Name: Salary, dtype: int64

# Part(b)
## Linear Regression

In [5]:
modal=LinearRegression()
modal.fit(X,y)
print("Training complete! The model has learned the pattern.")

Training complete! The model has learned the pattern.

## Part(c)

In [6]:
prediction=modal.predict([[6],[7],[8],[9]])
prediction

d:\Projects File\python\.venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([ 80000.,  90000., 100000., 110000.])