## Handling missing data

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    "Name": ["Ali", "Sara", "Hammad", "Usman"],
    "Age": [10, np.nan, 20, np.nan],
    "Score": [50, 70, np.nan, 90]
}

df = pd.DataFrame(data)
print(df)

     Name   Age  Score
0     Ali  10.0   50.0
1    Sara   NaN   70.0
2  Hammad  20.0    NaN
3   Usman   NaN   90.0

In [12]:
print(df.isnull())
print(df.isnull().sum())
print(df.dropna())

    Name    Age  Score
0  False  False  False
1  False   True  False
2  False  False   True
3  False   True  False
Name     0
Age      2
Score    1
dtype: int64
  Name   Age  Score
0  Ali  10.0   50.0

In [ ]:
df["Age"].fillna(df["Age"].mean())

0    10.0
1    15.0
2    20.0
3    15.0
Name: Age, dtype: float64

In [17]:
print(df.fillna(method="ffill"))
print(df.fillna(method="bfill"))

     Name   Age  Score
0     Ali  10.0   50.0
1    Sara  10.0   70.0
2  Hammad  20.0   70.0
3   Usman  20.0   90.0
     Name   Age  Score
0     Ali  10.0   50.0
1    Sara  20.0   70.0
2  Hammad  20.0   90.0
3   Usman   NaN   90.0

C:\Users\EURO COMPUTERS\AppData\Local\Temp\ipykernel_6456\4093773902.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="ffill"))
C:\Users\EURO COMPUTERS\AppData\Local\Temp\ipykernel_6456\4093773902.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method="bfill"))