In [3]:
import pandas as pd

In [4]:
data = {
    "Name": ["Ali", "Hammad", "Sara"],
    "Age": [20, 22, 19],
    "City": ["Karachi", "Lahore", "Islamabad"]
}
df=pd.DataFrame(data)
df

     Name  Age       City
0     Ali   20    Karachi
1  Hammad   22     Lahore
2    Sara   19  Islamabad

In [5]:
df2 = pd.DataFrame(
    [[1,2,3],
     [4,5,6],
     [7,8,9]],
    columns=['A','B','C'],
    index=['Ai','Bi','Ci']
)

In [6]:
print("Head:\n",df2.head(3))
print("Tail:\n",df2.tail(2))

Head:
     A  B  C
Ai  1  2  3
Bi  4  5  6
Ci  7  8  9
Tail:
     A  B  C
Bi  4  5  6
Ci  7  8  9

In [6]:
print(df2.columns)
print(df2.index)

Index(['A', 'B', 'C'], dtype='object')
Index(['Ai', 'Bi', 'Ci'], dtype='object')

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Ai to Ci
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [51]:
df2.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [8]:
print(df2.nunique())
print(df2['A'].unique())

A    3
B    3
C    3
dtype: int64
[1 4 7]

## Sorting

In [11]:
sortDf = pd.DataFrame({
    "Name": ["Ali", "Sara", "Hammad", "Usman"],
    "Age": [20, 15, 25, 18],
    "Score": [50, 90, 70, 60]
})

print(sortDf)

     Name  Age  Score
0     Ali   20     50
1    Sara   15     90
2  Hammad   25     70
3   Usman   18     60

In [14]:
sortDf.sort_values(["Age","Score"],ascending=[True,True])

     Name  Age  Score
1    Sara   15     90
3   Usman   18     60
0     Ali   20     50
2  Hammad   25     70